.home-button {
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #800000 !important;
}

.saved-houses-button,
.roommates-button,
.profile-button {
  transition: background-color 0.3s ease;
}

.saved-houses-button:hover,
.roommates-button:hover,
.profile-button:hover {
  background-color: #800000 !important;
}

.top-search-button,
.middle-search-button {
  transition: background-color 0.3s ease;
}

.top-search-button:hover,
.middle-search-button:hover {
  background-color: #660000 !important;
  color: #ffffff !important;
}
